@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.image-container {
  --rotation: 0deg;
  transform: rotate(var(--rotation));
  transform-origin: center;
}

@font-face {
  font-family: 'fonseca';
  src: url('/fonseca.woff') format('woff');
  font-weight: 400;
  /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/roboto.woff2') format('woff2');
  font-weight: 400;
  /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/roboto-bold.woff2') format('woff2');
  font-weight: 400;
  /* Normal */
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}